h1 {
    color: #c82121;
    text-align: center;
}

h2 {
    color: rgb(0, 15, 128);
}

.my-class {
    font-weight: bold;
}
.form{
    text-align: center;
}

h3 {
    text-align: center;
    /* color: #de1515; */
}

 .shorten-button, .generate {
    font-size: x-large;
    border-color: aqua;
    background-color: aqua;
 }

 .enter {
    font-size: x-large;
 }

 .code {
    font-size: x-large;
 }

.section{
    display: flex;
    justify-content: space-around;
}
.container {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    cursor: pointer;
    border: 1px solid;
    box-shadow: 0 2px 4px;
}
